.Content--Image,
.Content img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 2.5rem;
}

.Content--Iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.Content--Iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Content table.store td {
  width: 50%;
  vertical-align: middle;
  padding-bottom: 5rem;
}
.Content table.store tr td:first-child {
  text-align: left;
}

.Content table.store td:last-child {
  padding-right: 5rem;
}

.Content table.store td img {
  max-height: 200px;
  display: inline-block;
}

.Content table.store td.double img {
  max-width: 50%;
  display: inline-block;
}

@media (max-width: 600px) {
  .Content table.store td:first-child {
    width: 20%;
  }
  .Content table.store td:last-child {
    width: 80%;
  }
}