.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 5rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.landing .PageHeader .BackgroundImage {
  opacity: 1;
}

.PageHeader-large {
  padding: 12rem 0;
}

.landing .PageHeader-large {
  height: 45vw;
  padding: 0;
}
.PageHeader-large .PageHeader--Title {
  line-height: 6rem;
  max-width: 50rem;
}
.PageHeader-large .PageHeader--Subtitle {
  max-width: 50rem;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 1rem 0;
  }
  .PageHeader-large {
    padding: 1rem 0;
  }
}

@media (min-width: 1500px) {
  .landing .PageHeader-large {
    height: 400px;
  }
}


